header {
  cursor: pointer;
  text-align: center;
  color: rgba(51,51,51,1);
}
.grid_container_top_nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 12px;
}
.grid_item_top_nav {
  background: rgba(255,255,255,0.6);
  padding: 1%;
}
.hover:hover {
  background: rgba(255,255,255,1);
  color: lightskyblue;
}
