<section id="wrc">
  <div class="row">
    <div class="col-md bg-cell">
      <h3 class="sticky_header">WRC News</h3>

      <div *ngIf="!rssRallyFeeds">
        <div *ngFor="let message of newMessages">
          <small>{{message.message}}</small>
        </div>
      </div>

      <div *ngFor="let feed of rssRallyFeeds">
        <span class="h5 h5_styling underline_red">{{feed.title}}</span>
        <p>{{feed.content}}</p>
        <small>{{feed.pubDate}}</small>
        <hr class="style">
      </div>
    </div>
  </div>
</section>
