<div class="search_position" (click)="show=!show">Other Motoracing News</div>
<nav>
  <div *ngIf="show" class="animated slideInRight side_menu">
    <div class="grid_container">
      <div class="grid_item">
        <a routerLink="/motogp">Moto GP News</a>
      </div>
      <div class="grid_item">
        <a routerLink="/rally">World Rally Championship News</a>
      </div>
      <!--<div class="grid_item">-->
      <!--<a routerLink="/driver-stats">F1 Driver Statistics</a>-->
      <!--</div>-->
    </div>
  </div>
</nav>



